<a href="https://colab.research.google.com/github/joaobcandido/Estudo-Python-para-Analise-de-Dados/blob/main/variaveis_e_tipos_de_dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Variaveis e Tipos de Dados em Python**
---
Caderno de **Estudo**<br>
João Cândido

# **Tópicos**

<ol>
<li>Variáveis
<li>Números
<li>Strings
<li>Booleanos
</ol>

---

# **Estudos**

## 1\. Variáveis

### 1.1 Conceito
- variavel é um padaço reservado da menoria Ram do seu dispositivo.

### 1.2 Tipos

- Numéricos :
inteiros (int),
decimais (float)
- Textos :
string (str)
- Lógicos :
booleanos (bool)
- Vazio :
NoneType (None)

## 2\. Números

### 2.1 Conceito
numerico é um tipo de variaveis que armazenam valores numéricos :
- int (1)
- float (1.5)
- complex (1 + 1j)

### 2.2 Operações
são as quatro operações basicas e mais três avançadas :
- soma (+)
- subtração (-)
- multiplicação (*)
- divisão (/)
- divisão inteira (//)
- resto da divisão (%)
- exponenciação (**)

exemplo de soma

In [ ]:
soma = 5 + 1
print(soma)

6

exemplo de subtração

In [ ]:
subtração = 5 - 1
print(subtração)

4

exemplo de multiplicação

In [ ]:
multiplicação = 5 * 1
print(multiplicação)

5

exemplo de divisão

In [ ]:
divisão = 5 / 2
print(divisão)

2.5

exemplo de divisão inteira

In [ ]:
divisão_inteira = 5 // 2
print(divisão_inteira)

2

exemplo de resto da divisão

In [ ]:
resto_divisão = 5 % 2
print(resto_divisão)

1

exemplo de exponenciação

In [ ]:
exponenciação = 5 ** 2
print(exponenciação)

25

### 2.3 Conversão de tipos
podemos converter os tipos numéricos utilizando os metodos:
- int()
- float()
- complex()

exemplo de conversão de um float para inteiro

In [ ]:
print(int(1.5))

1

exemplo de conversão de um inteiro para float

In [ ]:
print(float(1))

1.0

exemplo de conversão de um inteiro para complexo

In [ ]:
# no python a segunda conponente do numero complexo é representada pela letra (j)
print(complex(1))

(1+0j)

## 3\. Strings(str)

### 3.1 Conceito
  str é uma variavel que armazena texto ou seja um caractere ou uma cadeia de caracteres

exemplo de string "João Cândido"

In [ ]:
nome = "João Cândido"
print(nome)
print(type(nome))

João Cândido
<class 'str'>

exemplo de string vazia ""

In [ ]:
vazio = ""
print(vazio)
print(type(vazio))

<class 'str'>

### 3.2 Operações

- concatenação (+) : utilizando o operador (+) podemos juntar duas ou mais strings

exemplo de concatenacao de textos

In [ ]:
nome = "João"
sobrenome = " da Silva"
nome_completo = nome + sobrenome
print(nome_completo)

João da Silva

- formatação : utilizamos o f antes das aspas para juntar strings e variaveis

exemplo de formatação

In [ ]:
print(f"Meu nome é {nome_completo}")

Meu nome é João da Silva

- fatiamento(slicing): permite extrair treços de uma string

exemplo de fatiamento fixo e por intervalo

|J|o|ã|o| |C|â|n|d|i|d|o|
|-|-|-|-|-|-|-|-|-|-|-|-|
|0|1|2|3|4|5|6|7|8|9|10|11|
|-12|-11 |-10 | -9| -8|-7 |-6 |-5 |-4 |-3 |-2 |-1|

In [ ]:
nome = "João Cândido"
print(nome[0]) # recorta o primeiro caractere
print(nome[11]) # recorta o ultimo caractere
print(nome[-1]) # recorta o ultimo caractere
print(nome[-12]) # recorta o primeiro caractere
print(nome[0:4]) # recorta o intervalo de 0 a 4-1
print(nome[5:12]) # recorta o intervalo de 5 a 12-1
print(nome[0:12:2]) # recorta o intervalo de 0 a 12-1 pulando de 2 em 2

J
o
o
J
João
Cândido
Jã âdd

### 3.3 Métodos
- são funções que facilitam a manipular textos em python

exemplo de metodo para deixar todo o texto em maiusculo

In [ ]:
texto = "João Cândido"
print(texto.upper())

JOÃO CÂNDIDO

exemplo de metodo para deixar todo o texto em minusculo

In [ ]:
texto = "João cândido"
print(texto.lower())

joão cândido

exemplo de metodo para deixar as primeiras letras das palavras em maiusculo

In [ ]:
texto = "joão cândido da silva"
print(texto.title())

João Cândido Da Silva

exemplo de metodo para procurar a posição de um intervalo dentro da string

|J|o|ã|o| |C|â|n|d|i|d|o|
|-|-|-|-|-|-|-|-|-|-|-|-|
|0|1|2|3|4|5|6|7|8|9|10|11|
|-12|-11 |-10 | -9| -8|-7 |-6 |-5 |-4 |-3 |-2 |-1|

In [ ]:
texto = "João Cândido"
print(texto.find("João")) # ele pega a posição apartir do primeiro caractere
print(texto.find("Cândido"))
print(texto.find("Silva")) # quando nao encontra o intervalo  retorna -1

0
5
-1

exemplo de metodo para subistituir um caractere dentro da string

In [ ]:
email = "  Joao@ candido  "
print(email.replace(" ","")) # substitue o primeiro caractere pelo segundo

Joao@candido

### 3.4 conversão de tipos
exemplo de conversão de strings em numeros

In [ ]:
ano = "2024"
print(int(ano))
print(float(ano))

2024
2024.0

exemplo de conversão de numeros em string

In [ ]:
idade = 18
print(str(idade))

18

## 4\. Booleanos(bool)

### 4.1 Conceito

tipo que armazena valores lógicos:
- True (Verdadeiro)
- False(Falso)

variaveis booleanas são resultado de comparações logicas:
- maior (>)
- maior ou igual (>=)
- menor (<)
- menor ou igual (<=)
- igual (==)
- diferente (!=)

exemplos de comparações com operadores logicos

In [ ]:
5 > 3

True

In [ ]:
5 >= 3

True

In [ ]:
5 < 3

False

In [ ]:
5 <= 3

False

In [ ]:
5 == 3

False

In [ ]:
5 != 3

True

### 4.2 Operações
operadores logicos:
- operador ou   (|)
- operador e    (&)
- operador não (not)

tabela verdade

| X        | Y        | | | X OR Y   | | X AND Y  | | NOT X    |
|----------|----------|-|-|----------|-|----------|-|----------|
| **TRUE** | **TRUE** | | | **TRUE** | | **TRUE** | | FALSE    |
| **TRUE** | FALSE    | | | **TRUE** | | FALSE    | | FALSE    |
| FALSE    | FALSE    | | | FALSE    | | FALSE    | | **TRUE** |
| FALSE    | **TRUE** | | | **TRUE** | | FALSE    | | **TRUE** |